body{
	margin: 0px;
	background-image: url("loginn.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 600px;
  margin-left:450px;
 margin-top: 119px;
}

td, th {
  border: 1px solid #d8c0f0;
  text-align: left;
  padding: 8px;
}


}
tr:nth-child(odd) {
  background-color: #c9f5b5;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


.cus .right{
	
	width: 500px;
	height: 15px;
	margin-left:540px;
	margin-top: 20px;
	
}

.cus .right .top{
	font-size: 30px;
	font-weight: bold;
	margin-left: 80px;
	margin-top: 15px;
	overflow: hidden;
	display: inline-block;
}

.cus .right .middle{
	margin-left: 60px;
	margin-top: 15px;
	overflow: hidden;
}

.cus .right .footer{
	margin-left: 80px;
	margin-top: 5px;
	overflow: hidden;
}


.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000099;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #ffffff;
  display: block;
}

.sidenav a:hover {
  color: #000000;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

